# Mongo
MONGO_URI=mongodb://mongo:27017/micro_mvp

# RabbitMQ
RABBITMQ_URL=amqp://micro:micro_pass@rabbitmq:5672

# GraphQL gateway
GQL_GATEWAY_URL=http://gql-gateway:4000/events

# Generic
NODE_ENV=development
PORT=3001
